@import "tailwindcss";

@tailwind utilities;

@layer utilities{
  .bg-dark-grid {
    background-color: #0e0e0e;
    background-image: url("/src/HomePageComponents/assets/download.png");
    background-size: 28px 28px;
    
  }
}



@font-face{
  font-family: Barlow;
  src: url("./assets/fonts/Barlow-Light.ttf");
  font-weight: 200;
  font-size: 18px;
}

@theme{
  --color-dark: #000000;
  --color-light: #F1F1F1;
  --font-barlow: Barlow, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
