@import "tailwindcss";

@tailwind utilities;

@font-face{
  font-family: Barlow;
  src: url("./assets/fonts/Barlow-Light.ttf");
  font-weight: 200;
  font-size: 18px;
}

@theme{
  --color-dark: #1E1E1E;
  --color-light: #F1F1F1;
  --font-barlow: Barlow, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
